.content {
    background-color: #E0E0E0;
    border-radius: 3px;
}

.front-end {
    color: #7F00FF;
}

.back-end {
    color: #009900;
}

.django {
    color: #3399FF;
}

.presentation {
    color: #FF0000;
}

.ucc {
    color: #FF007F;
}