.success-dialog-content {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-dialog-content span:nth-child(1){
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
}

.success-dialog-content span:nth-child(2){
  font-size: 13px;
}

.success-dialog-content > p {
  font-size: 13px;
}

.dialog-content-box > p{
  font-size: 13px;
}

.dialog-content-box button{
  height: 35px;
  width: 176px;
  color: #FFFFFF;
  border-radius: 10px;
  margin-top: 10px;
}

.dialog-content-box .success-check-btn {
  background: rgba(233, 185, 64, 0.87);
}

.dialog-content-box .warn-check-btn {
  background: #db2b2bd7;
}

.dialog-content-box button a {
  font-size: 13px;
  text-decoration: none;
  color: #FFFFFF
}


.warn-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9px;
}

.warn-dialog-content > p {
  margin: 5px;
  font-size: 13px;
}



/* Basket Page */
.basket {
  background-color: #E9B940;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.basket .basket-header {
  color: #FFFFFF;
  position: fixed;
  top: 5px;
  right: 0;
}

.basket .basket-body {
  display: flex;
  align-items: center;
  padding: 70px 50px;
  overflow-x: scroll;
}

.basket-body .basket-body-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 50px;
  margin-left: 30px;
}


.basket-body .basket-body-item > img{
  height: 448px;
}

.basket-body .basket-body-item > p{
  font-size: large;
  font-weight: bold;
  margin: 5px;
}

.basket .small-basket-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: none;
  background-color: #FFFFFF;
}

.small-basket-body{
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.small-basket-body > div > img{
  height: 137px;
  margin: 0 5px;
}

.combine-btn {
  width: 330px;
  height: 40px;
  border-radius: 7px;
  border: none;
  margin: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}


.lack-beer-btn {
  background: #9A9894;
}

.full-beer-btn {
  background: #E9B940;
  box-shadow: 0px 0px 4px #E9B940;
}