.home .homeheader {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .homeheader > div {
  width: 70px;
}

.home .homeheader > img {
  margin-right: 10px;
}

.carouselImage {
  width: 100%;
  height: 190px;
}

.carouselImage > img {
  width: 100%;
  height: 100%;
}

.carousel .control-dots .dot {
  background: #e9b940;
  box-shadow: none;
}

.home .show-all {
  font-weight: 400;
  font-size: 10px;
  text-decoration: none;
  color: #5a5a5a;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home .beer-sortbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 20px;
  place-items: center;
  gap: 13px;
}

.home .beer-sortbar .sort-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .beer-sortbar .sort-btn > .sort-img {
  display: flex;
  border: solid 1px #e9b940;
  border-radius: 70%;
  width: 86px;
  height: 86px;
  justify-content: center;
  align-items: center;
}

.home .beer-sortbar .sort-btn > p {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 500;
}
