.home {
  max-width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .homeheader {
  width: 100%;
  max-width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .homeheader > div{
  width: 70px;
}


.home .homeheader > img{
  margin-right: 10px;
  width: 100px;
}


.carouselImage {
  width: 100%;
}


.carouselImage > .carouselImage1 {
  width: 100%;
  max-height: 215px;
}

.carouselImage > .carouselImage2 {
  width: 100%;
  max-height: 215px;
}


.carousel .control-dots .dot {
  background: #E9B940;
  box-shadow: none;
}

.home .show-all {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 60px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.home .show-all-text {
  font-weight: 400;
  font-size: 10px;
  text-decoration: none;
  color: #5A5A5A;
  display: flex;
  align-items: center;
}

.home .beer-sortbar {
  width: 100%;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 20px;
  place-items: center;
  gap: 13px;
}

.home .beer-sortbar .sort-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.home .beer-sortbar .sort-btn > .sort-img {
  display: flex;
  border: solid 1px #E9B940;
  border-radius: 70%;
  width: 86px;
  height: 86px;
  justify-content: center;
  align-items: center;
}

.home .beer-sortbar .sort-btn img {
  width: 38px;
}

.home .beer-sortbar .sort-btn > p {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 500;
}


