.spinner-background {
  width: 100%;
  height: 100%;
  background-color: #e6ad02;
  z-index: 2;
  position: absolute;
}

.spinner {
  z-index: 3;
  height: 400px;
  position: absolute;
  left: -160px;
}

.spinner-text {
  position: absolute;
  top: 400px;
  left: 150px;
  color: #FFFFFF;
}

.spinner *::before,
.spinner *::after {
  content: '';
  position: absolute;
}

.spinner .keg {
  position: absolute;
  width: 90px;
  height: 200px;
  background: linear-gradient(
      to right,
      #777 70px,
      #555 70px
  );
  bottom: 0;
  left: 310px;
}

.spinner .keg .pipe {
  position: absolute;
  width: 10px;
  height: 40px;
  background-color: #ccc;
  top: 33px;
  left: 10px;
}

.spinner .keg .pipe::before {
  width: 40px;
  height: 20px;
  background: 
      radial-gradient(
          circle at 10px 10px,
          #eee 7px,
          #ccc 7px, #ccc 10px,
          transparent 10px
      ),
      linear-gradient(
          #ccc 50%,
          #999 50%
      );
  border-radius: 10px;
  top: -2px;
  left: -5px;
}

.spinner .keg .pipe::after {
  width: 10px;
  background-color: rgba(255, 206, 84, 0.5);
  animation: flow 3s infinite;
}

@keyframes flow {
  0%, 15% {
      top: 40px;
      height: 0;
  }

  20% {
      height: 115px;
  }

  40% {
      height: 75px;
  }

  55% {
      top: 40px;
      height: 50px;
  }

  60%, 100% {
      top: 80px;
      height: 0;
  }
}

.spinner .keg .handle {
  position: absolute;
  border-style: solid;
  border-width: 50px 10px 0 10px;
  border-color: black transparent transparent transparent;
  top: -10px;
  left: 5px;
  transform-origin: center 50px;
  animation: handle 3s infinite;
}

@keyframes handle {
  10%, 60% {
      transform: rotate(0deg);
  }

  20%, 50% {
      transform: rotate(-90deg);
  }
}

.spinner .keg .handle::before {
  width: 20px;
  height: 10px;
  background-color: #ccc;
  top: -60px;
  left: -10px;
  border-radius: 5px 5px 0 0;
}

.spinner .keg .handle::after {
  width: 10px;
  height: 20px;
  background-color: #ccc;
  top: -20px;
  left: -5px;
}

.spinner > .glass {
  position: absolute;
  width: 70px;
  height: 100px;
  color: rgba(65, 65, 65, 0.3);
  background-color: currentColor;
  bottom: 0;
  border-radius: 5px;
  animation: slide 3s ease infinite;
}

@keyframes slide {
  0% {
      left: 0;
      filter: opacity(0);
  }

  20%, 80% {
      left: 300px;
      filter: opacity(1);
  }

  100% {
      left: 600px;
      filter: opacity(0);
  }
}

.spinner .glass::before {
  width: 50px;
  height: 40px;
  border: 10px solid;
  top: 20px;
  right: -20px;
  border-radius: 0 40% 40% 0;
  clip-path: inset(0 0 0 72%);
}

.spinner .beer {
  position: absolute;
  width: 60px;
  background-color: rgba(255, 206, 84, 0.8);
  bottom: 15px;
  left: 5px;
  border-radius: 0 0 5px 5px;
  border-top: solid rgba(255, 206, 84, 0.8);
  animation: fillup 3s infinite;
}

@keyframes fillup {
  0%, 20% {
      height: 0px;
      border-width: 0px;
  }

  40% {
      height: 40px;
  }

  80%, 100% {
      height: 80px;
      border-width: 5px;
  }
}

.spinner .beer::before {
  width: inherit;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  animation: 
      wave 0.5s infinite alternate,
      fillup-foam 3s linear infinite;
}

@keyframes fillup-foam {
  0%, 20% {
      top: 0;
      height: 0;
  }

  60%, 100% {
      top: -15px;
      height: 15px;
  }
}

@keyframes wave {
  from {
      transform: skewY(-3deg);
  }

  to {
      transform: skewY(3deg);
  }
}