.info-page .info-page-body {
    position: absolute;
    top: 53px;
}

.info-page .info-img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 5px solid #f7f7f7;
    position: relative;
}

.info-page .profile-img{
    margin: 15px;
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 1.7px #e9b940;
}

.info-page .profile-change-btn {
    position: absolute;
    bottom: 48px;
    right: 145px;
    background-color: white;
    border-radius: 50%;
}

.info-page .info-input-first-div{
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-top: 30px;
    padding-bottom: 14px;
}

.info-page .info-email {
    margin-right: 87px;
}

.info-page .info-input-div{
    display: flex;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
}

.info-page .password-change-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.info-page .password-change-btn{
    width: 80%;
    background-color: #E9B940;
    font-weight: 500;
}

.info-page .password-change-btn:active{
    background-color:#E9B940;
}

.info-page .password-change-btn:hover{
    background-color:#E9B940;
}

.info-page .info-input-text{
    padding-top: 12px;
}