nav {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  max-width: 510px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .2);
}

nav .Mui-selected {
  color: black !important;
}